PRIME_CREDENTIALS='{"AccessKey": "", "SecretKey": "", "Passphrase": ""}'
PORTFOLIO_ID='d7a7abc5-xxxx-xxxx-xxxx-9252a740a3c8'
ENTITY_ID='ba65079e-xxxx-xxxx-xxxx-89041fa232b1'
WALLET_ID='028e4e9b-xxxx-xxxx-xxxx-cd99ce454cd5'
BASE_URL=
WEB3_WALLET_ID='1e9fde04-xxxx-xxxx-xxxx-48f19ac761e8'